body{
    background-color: black;
}


.main{
    background-image: url(assets/images/image\ 1.jpg);
    height: 80vh;
    position: relative;

}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    justify-content: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 70px ;
}
nav img{
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    font-size: 30px;
}
.images{
    margin-top: 20px;
    display: flex;
        

}
.images :hover{
    opacity: 0.7;
    
    }

.text{
    color: white;
    margin-left: 50px;
}
.wrapper {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}


.container1 {
    width: 48%;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}
.container{
    color: black;
    background-color:#398787;
    height: 80px;
    text-align: center;
    padding: 80px;
    width: 280px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(90, 90, 122);
    display: flex;
    display: block;
    
    
}
.container1{
        color: black;
        background-color:#398787;
        height: 80px;
        text-align: center;
        padding: 80px;
        width: 280px;
        border-radius: 50px;
        box-shadow: 5px 5px 5px rgb(90, 90, 122);
        display: flex;
        display: block;

}
.text1{
    color: white;
    margin-left: 50px;

}
summary {
    cursor: pointer;
    padding: 10px;
    background: rgb(130, 127, 127);
    border-radius: 5px;
    height: 25px; 
    font-size: 20px;
    color: rgb(222, 213, 213);
    margin-left: 30PX;
    margin-right: 20PX;
}
details p {
padding: 10px;
background: rgb(170, 162, 162);
margin-left: 30PX;
margin-right: 20PX;
}
summary:hover{
    background: rgb(167, 157, 157);
}
.btn button{
    background-color: red;
        color: white;
        width: 115px;
        height: 40px;
        margin: 40px;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 5px;
}
.btn{
    margin: 40px;
    display: inline-block;
}
.btn:hover{
    background-color: #201e1e;
}
p{
    color: white;
    margin-left: 40px;
    font-size: 30px;

}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #201e1e;
    padding: 40px 60px;
}

.footer-section a {
    display: block;
    
    color: #a79f9f;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 40px;
}

.footer-section a:hover {
    text-decoration: underline;
}